body{
    margin:0px;
    background-color: #F4EBD0;
}

#divies{    
    height: 50px;
    margin-top: 10px;
    text-align: left;
    padding-left: 10px;
  
}

#IES{
     color: white;
    text-decoration: none;
}

#divnom{
    text-align: center;
}

.contacte{
    margin-top: 30px;
    text-align: center;
    cursor:pointer;
    border: 1px solid white;
    background-color: transparent;
    transition-duration: 0.2s;
    border-radius: 3px;
    color:white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.contacte:hover{
    background-color: white;
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.divsuperior{
    background-color: #122620 ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 0px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;

}

.headersuperior{
    color:white;
    display: grid;
    grid-template-columns: 20% 60% auto;
    margin-left: 10px;
    margin-right: 10px;
    
}

#textsuperior{
    color:white;
    width: 70%;
}

#textwebp {
    color:white;
    width: 25%;
}

.index {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.indexdiv{
    width: 33.3%;
    text-align: center;
}

.biindexdiv{
    width: 33.3%;
    text-align: center;
    border-bottom-left-radius: 10px;
}

.maindexdiv{
    width: 33.3%;
    text-align: center;
    border-bottom-right-radius: 10px;
}

#seleccionat {
    font-weight: 900;
    background-color: #0E1B18;
}

.indexlink {
   color: white;
   text-decoration: none;
   background-color: transparent;
   border: none;
}

#titol {
    margin-top: 3%;
    margin-left:20px;
    margin-right:20px;
}

.introduccio {
    border: solid 2px #422F24;
    border-radius: 5px;
    display: grid;
    margin-top: 5%;
    width: 50%;
    justify-self: center;
    background-color: #694A38;
    color: white;
}

#introduccionom{
    padding-left: 2.5%;
    display:grid;
    grid-template-columns: 50% 50%;
}


#imgintro{
    float: top;
    width: 100%;
    height: 100%;
    align-items: end;
    border-radius: 5px;

}

#textintro{
    line-height: 4;

}

.taulaesports{
    border: solid 2px black;
    width: 50%;
}

.tdesports{
    border: solid 1px black;
    padding: 10px;

}

.link2{
    color:black;

}

.llegenda{

    border: solid 2px #422F24;
    color: white;
    border-radius: 5px;
    float: left;
    margin-top: 5%;
    padding: 10px;
    padding-top: 0px;
    margin-left: 2.5%;
    background-color: #694A38;

}

.link3{

    color:white;
    text-decoration: none;
}

.link3:hover{
    font-weight: 900;
}

#footer{
    background-color: #122620 ;


}

h1, h2, h3, header{
    src: local();

}

