body{
    margin:0px;
    background-color: #f5f5f5;
}

#divies{    
    height: 50px;
    margin-top: 10px;
    text-align: left;
    padding-left: 10px;
}

#divnom{
    text-align: center;
}

.contacte{
    margin-top: 30px;
    text-align: center;
    cursor:pointer;
    border: 1px solid white;
    background-color: transparent;
    transition-duration: 0.2s;
    border-radius: 3px;
    color:white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.contacte:hover{
    background-color: white;
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.divsuperior{
    background-image: linear-gradient(to bottom right, #283048,#859398);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.headersuperior{
    color:white;
    display: grid;
    grid-template-columns: 20% 60% auto;
    margin-left: 10px;
    margin-right: 10px;
    
}

#textsuperior{
    color:white;
    width: 70%;
}

#textwebp {
    color:white;
    width: 25%;
}

.index {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30px;


}

#seleccionat {
    font-weight: 900;
}

.link {
   color: white;
   text-decoration: none;
}

#titol {
    margin-top: 3%;
    margin-left:20px;
}

.introduccio {
    border: solid 2px red;
    border-radius: 5px;
    display: grid;
    margin-top: 100px;
    width: 60%;
    justify-self: center;
}

#introduccionom{
    padding-left: 10%;


}

#introduccioimg{
    justify-self: end;

}
